{% load static %} <!-- imports static from  Django-->
<!DOCTYPE html>
<html lang= "en">
<!--
	Proudly engineered by Zachary Roberts (enter date here)
	"Enter dedication quote here." 
-->
<!--This is a boilerplate index.html used to build websites.-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Sets a good baseline screen optimization method-->
	<title>hello.html</title>
	<link rel="stylesheet" href ="{% static 'greetings/zoo_style.css' %}"> <!--"{% static 'path' %}"  syntax for Django to link to css. -->
	<!--Above is code for favicon to displays in tab-->
	
	<!--link JavaScript here if needed, defer is helpful here.-->
</head>

<body>
	<h1>{{ greeting.hello }} {{ greeting.world }}</h1>
	
</body>
</html>